<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
    
    <location path="Pages.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
            </authorization>
        </system.web>
    </location>

    <location path="LogUser.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrateur"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="StyleSheet.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrateur"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="Settings.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrateur"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="SiteMap.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrateur"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

    <location path="SmtpServeur.aspx">
        <system.web>
            <authorization>
                <allow roles="Administrateur"/>
                <deny users="*" />
            </authorization>
        </system.web>
    </location>

</configuration> 



